body {
  background-color: #f9f9f9;
  margin:0;
  color: #282a2d;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 425px;
  color: #333538;
  margin-bottom: 25px;

  font-family: 'PT Serif', serif;
  font-size: 17px;

  text-align: center;
}


.logo {
  height: 55px;

  width: auto;

  margin-top: 17px;
  margin-left: 50px;
}


/* Nav bar */

.navbar {
  overflow: hidden;
  background-color: #f9f9f9;
  color: black;
  /*position: fixed;*/
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1; /*puts nav bar over the divs*/
}


.nav_home {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}


.nav_about {
  float: right;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  z-index:0;

  padding-top: 40px;
  margin-right: 100px;
  
  color: #282a2d;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 900;

}


.nav_projects {
  float: right;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;

  padding-top: 40px;
  margin-right: 50px;
  
  text-decoration: none;
  border-bottom: 2px solid black;

  color: #282a2d;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 900;
}


.nav_projects:hover {
  color: #a7a7a7;
  border-bottom: 2px solid #a7a7a7;
  transition: 0.3s;
}


.nav_about:hover {
  color: #a7a7a7;
  transition: 0.3s;
}



/* Heading */

h1 {
  color: #282a2d;
  font-size: 55px;
  font-family: 'Roboto';
  font-weight: 900;

  margin-top: 100px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

}


/* Add box shaddow to nav bar when scrolled down */

.scrolled {
  box-shadow: 10px 25px 50px -5px rgba(220,220,220,0.5);
  transition: 0.5s;
}


/* Project boxes */

.module {
  border-radius: 15px;
  background: white;
  margin: 100px auto 150px auto;
  width: 700px;
  /*height: 415px;*/
  height: 510px;
  box-shadow: 10px 25px 50px -5px rgba(196,196,196,1);
}


/* Slide in animation */

.come-in {
  transform: translateY(2500px);
  animation: come-in 0.7s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.7s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}


/* Project titles */

h2 {
  color: #282a2d;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 900;
  text-align: center;
}


/* Company name */

.project_company {
  font-family: 'PT Serif', serif;
  font-size: 21px;
  text-align: center;

}


/* Company logo */

.project_company_logo {
  height: 17px;
  width: auto;
}
.project_company_logo_large {
  height: 21px;
  width: auto;
}


/* Project pictures */

img {
  border-radius: 15px 15px 0px 0px;
  height: 275px;
  width: 700px;
  align-content: center;
}


footer {
  color: #282a2d;
  font-family: 'PT Serif', serif;
  font-size: 15px;

  text-align: right;
  margin-top: 200px;
  margin-right: 70px;
  margin-bottom: 50px;
}





@media only screen and (max-width: 850px) {

  h1 {
    font-size: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }


  h2 {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }


  .module {
    border-radius: 15px;
    background: white;
    margin: 100px auto 100px auto;
    max-width: 90%;
    height: auto;
    box-shadow: 10px 25px 50px -5px rgba(196,196,196,1);
  }


  img {
    width: 100%;
    height: auto;
    align-content: center;
  }


  .project_company {
    padding-bottom: 30px;
  }

}





@media only screen and (max-width: 520px) {

  h1 {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    height: 30px;
    width: auto;
    margin-top: 35px;
    margin-left: 20px;
  }

  .nav_about {
    margin-right: 30px;
  }

  p {
    width: 250px;
  }

  footer {
    margin-right: 30px;
  }

}